:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(100, 92, 92, 0.87);
  margin: 0px 0px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --control-height: 50px;
  --color-index: #006BCF;
}

body {
  margin: 0;
  background-color: #f5f5f7;
  font-size: large;
  margin: 10px;
}
.main-unit {
  width: 450px;
}

@media (max-width: 768px) {
  .main-unit {
    width: 100%;
  }
}

.brand-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 8px;
  align-items: start;
}

@media (max-width: 768px) {
  .brand-form {
    grid-template-columns: 1fr;
    gap: 2px 4px;
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select {
  height: var(--control-height);
  border-radius: 16px;
  font-size: large;
  background: #f5f5f7;
  color: #131314;
}

button {
  width: 100%;
  height: var(--control-height);
  border-radius: 16px;
  color: rgb(82, 81, 81);
  border: none;
  font-size: large;
  font-family: "montsserat", sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
}
input {
  width: 100%;
  height: var(--control-height);
  border-radius: 16px;
  border: none;
  font-size: large;
  background-color: #ffffff;
  box-sizing: border-box;
  color: black;
  text-align: center;
}

table {
  color: rgb(184, 181, 181);
  font-size: large;
}
