:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(100, 92, 92, 0.87);
  margin: 0px 0px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f5f5f7;
  font-size: large;
}
/* #F5F5F7  242424 */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select {
  height: 100px;
  border-radius: 16px;
  /* text-align: center; */
  font-size: large;
  
}

button {
  color: rgb(82, 81, 81);
  border: none;
  font-size: large;
  font-family: "montsserat", sans-serif;
}
input {
  border: none;
  font-size: large;
}

table {
  color: rgb(184, 181, 181);
  font-size: large;
}
